@import '../../../../styles/variables.scss';

.BankName {
  font-size: 30px;
  font-weight: 600;
  border-bottom: 1px solid $secondary-line-separate-color;
}
.EmptyAccountListInfo, .AccountListTitle{
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}
.AccountListTitle {
  text-align: left;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .ContentWrapper {
    padding:  0 50px 50px;
  }
}


@media screen and (min-width: 1224px) {
  .AccountListWrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
