@import '../../../../styles/variables.scss';

.SectionName {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid $secondary-line-separate-color;
  margin-bottom: 20px;
}

.EmptyAccountListInfo, .AccountListTitle{
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}
.AccountListTitle {
  text-align: left;
  margin: 20px 0;
}

.TableRowWrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .ContentWrapper {
    padding:  0 50px 50px;
  }
}


// @media screen and (min-width: 1024px) {
//   .AccountListWrapper {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//   }
// }
