@import '../../../../styles/variables.scss';

.BankName {
  font-size: 30px;
  font-weight: 600;
}
.EmptyAccountListInfo, .AccountListTitle{
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}
.AccountListTitle {
  text-align: left;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .ContentWrapper {
    padding:  0 50px 50px;
  }
}