@import '../../styles/variables.scss';
.MainContentWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
  display: flex;
}

.MainContent {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  background-image: url('../../assets/images/logo.png');
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: center;
}

.LogoContentWrapper {
  position: absolute;
  top: 60px;
  right: 5px;
  img {
    width: 60px;
  }
}