@import '../../../styles/variables.scss';
@import '../../../styles/main.scss';


.RegisterWrapper {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/bcg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
