.BankName {
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 900;
}
.EmptyAccountListInfo, .AccountListTitle{
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
}
.AccountListTitle {
  text-align: left;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .ContentWrapper {
    padding: 50px;
  }
}