@import '../../../styles/variables.scss';
.AddItemForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid $secondary-line-separate-color;
  padding: 30px 0;
}
.AddItemInput{
  width: 100%;
  line-height: 20px;
  padding: 5px 0;
  font-size: 14px;
  text-indent: 8px;
  border-radius: 3px;
  outline: none;
  border: none;
  color: $text-color;
  border-bottom: 1px solid $secondary-line-separate-color;
  margin-bottom: 15px;
}
.AddItemInput::placeholder {
  opacity: 0.6;
}

.AddItemBtn{
  width: 200px;
  margin: 30px auto 0;
  font-size: 16px;
  padding: 10px;
  outline: none;
  background: $accent-color;
  border: none;
  border-radius: 3px;
  color: $accent-text-color;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}
.AddItemHalfWrapper {
  display: flex;
  align-items: center;
}

.AddItemDateTitle {
  line-height: 20px;
  color: $text-color;
  opacity: 0.6;
  font-size: 14px;
  text-indent: 8px;
}