@import '../../../../styles/variables.scss';

.BankTile {
  position: relative;
  box-sizing: border-box;
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
}
.CloseIcon {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 30px;
  width: 30px;
  pointer-events: visiblePainted;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img{
    width: 80%;
    height: 80%;
  }
}
.BankTileLink {
  text-decoration: none;
}

.BankName {
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid $secondary-line-separate-color;
}

.BankInfo {
  padding-top: 10px;
  font-size: 12px;
}

.BankInfoRaw {
  color: $secondary-text-color;
  padding: 3px 0;
}


@media screen and (min-width: 1224px) {
  .BankTile {
    width: 48%;
    margin: 20px 1%;
  }
}