@import '../../../../styles/variables.scss';
.DepositsList {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.SectionName {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid $secondary-line-separate-color;
  margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
  .BankDepositsWrapper {
    padding:  0 50px 50px;
  }
}


@media screen and (min-width: 1024px) {
  .DepositsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
 }
 
