@import '../../../../styles/variables.scss';

.DespositTitle {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom:  solid 1px $secondary-line-separate-color;
}

.DepositsListTitle {
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .BankDepositsWrapper {
    padding:  0 50px 50px;
  }
}


@media screen and (min-width: 1224px) {
  .DepositsList {
    display: flex;
    flex-wrap: wrap;
  }
 }
 
