@import '../../../../styles/variables.scss';

.DespositTitle {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom:  solid 1px $secondary-line-separate-color;
}

.DepositsListTitle {
  margin-top: 30px;
}
.AddDepositBtn {
  position:absolute;
  right: 20px;
  bottom: 20px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 100%;
  background: $accent-color;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  outline: none;
  cursor: pointer;
  img{
    width: 50%;
    height: 50%;
  }

}

@media screen and (min-width: 768px) {
  .BankDepositsWrapper {
    padding:  0 50px 50px;
  }
}


@media screen and (min-width: 1224px) {
  .DepositsList {
    display: flex;
    flex-wrap: wrap;
  }
 }
 
