@import '../../styles/variables.scss';

.SidepaneContainer {
  position:fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background-opacity-dark;
  z-index: 1;
}
.Sidepane {
  width: 300px;
  background: $background-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $secondary-line-separate-color;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .SidepaneContainer {
    position: static;
    width: auto;
  }
}






