// background
$background-color: #f2f4f7;
$background-main-primary: #00b0ff;
$background-main-light: #69e2ff;
$background-main-dark: #0081cb;
$background-opacity-dark: rgba(255,255,255,0.8);
$background-white: #fffefc;

$line-separate-color: #37474f;
$secondary-line-separate-color:#adb6c6;

$text-color: #37474f;
$secondary-text-color: #acb4c1;

$accent-color: #ab47bc;
$accent-text-color: #ffffff;


$input-background: #f2f4f7;