@import '../../styles/variables.scss';

.UserWrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $secondary-line-separate-color;
  margin: 30px 10px 0;
  padding-bottom: 20px;
}

.ImgWrapper {
  width: 50px;
  height: 50px;
  border: none;
  margin-right: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}
.Name {
  color: $secondary-text-color;
}