@import '../../../../styles/variables.scss';
@import '../../../../styles/main.scss';

.ButtonWrapper {
  border-bottom: 1px solid $line-separate-color;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.AccountDetailsTitle{
  font-size: 20px;
  padding-bottom: 20px;
}

.AddPromotionBtn {
  @extend .BtnActive;
}
.EditBtn {
  @extend .BtnDefault;
  background: none;
  color: $text-color;
  margin-right: 20px;
}
.DetailsRow {
  padding: 5px 0;
}
.StatusWrapper {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ContentWrapper {
    padding:  0 50px 50px;
  }
}
@media screen and (min-width: 1224px) {
  .ConditionsWrapper {
    display: flex;
    flex-wrap: wrap;
  }
 }
 
