@import '../../../../styles/variables.scss';
@import '../../../../styles/main.scss';

.ButtonWrapper {
  border-bottom: 1px solid $line-separate-color;
}

.AccountDetailsTitle{
  font-size: 20px;
  padding-bottom: 20px;
}

.AddPromotionBtn {
  @extend .BtnActive;
  display: block;
  margin: 30px auto;
}
.EditBtn {
  @extend .BtnDefault;
  background: none;
  color: $text-color;
}
.DetailsRow {
  padding: 5px 0;
}

@media screen and (min-width: 768px) {
  .ContentWrapper {
    padding: 50px;
  }
}
