@import '../../../styles/variables.scss';
@import '../../../styles/main.scss';

.AddAccountModalContainer {
  position:  absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:#fff;
  padding-top: 100px;
}

.AddBankAccountForm {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.IconContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  img {
    width: 100%;
    height: 100%;
  }
}
.EditAccountInput, .EditAccountSelect {
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  background: $input-background;
  outline: none;
  border-radius: 3px;
  padding: 10px;
}
.EditTitle {
  font-size: 30px;
  border-bottom: solid 1px $secondary-line-separate-color;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.ButtonWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.EditBtn {
  @extend .BtnActive;
}

.EditBtnDefault {
  @extend .BtnDefault;
  background: none;
  color: $text-color;
  margin-left: 10px;
}