@import '../../../../styles/variables.scss';

.BankList {
  width: 100%;
}
.SectionName {
  font-size: 20px;
}
.EmptyBankListInfo, .BankListTitle{
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}
.BankListTitle {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .ContentWrapper {
    padding:  0 50px 50px;
  }
}

@media screen and (min-width: 1224px) {
 .BankList {
   display: flex;
   flex-wrap: wrap;
 }
}
