@import '../../styles/variables.scss';
.HeaderWrapper {
  // height: 50px;
  background: $background-main-dark;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.IconContainer {
  position:absolute;
  top: 2px;
  left: 10px;
  width: 40px;
  height: 40px;
}

.LinksWrapper {
  display: flex;
  flex-direction: row;
}