@import '../../../styles/variables.scss';
@import '../../../styles/main.scss';

.AddTermPromotionContainer {
  position:  absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:#fff;
  z-index: 1;
}

.AddTermPromotionsForm {
  position: relative;
  padding: 10% 10px 10px 10px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.ConditionPromotionInput, .ConditionPromotionSelect {
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  background: $input-background;
  outline: none;
  border-radius: 3px;
  padding: 10px;
}
.ConditionTitle {
  font-size: 20px;
  border-bottom: solid 1px $secondary-line-separate-color;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.ButtonWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.ConditionBtn {
  @extend .BtnActive;
}

.ConditionBtnDefault {
  @extend .BtnDefault;
  background: none;
  color: $text-color;
  margin-left: 10px;
}