@import '../../../styles/variables.scss';

.BackButton {
  display: flex;
  background: none;
  border: none;
  height: 40px;
  color: $accent-color;
  outline: none;
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: -5px;
  figure {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }
  }
  p {
    line-height: 30px;
    font-size: 16px;
  }
}
.BackButton:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}