// background
$background-color: #e3e6ea;
$background-main-primary: #00b0ff;
$background-main-light: #69e2ff;
$background-main-dark: #0081cb;
$background-opacity-dark: rgba(255,255,255,0.8);

$line-separate-color: #37474f;
$text-color: #37474f;
$accent-color: #ab47bc;
$accent-text-color: #ffffff;
