@import '../../../styles/variables.scss';

.AddItemSidepaneWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index:1;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}
.AddItemForm {
  width: 300px;
  background: $background-white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border-left: 1px solid $secondary-line-separate-color;
  justify-content: space-between;
}
.LogoWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  img {
    width: 120px;
  }
 }

.AddItemInput{
  width: 100%;
  line-height: 20px;
  padding: 5px 0;
  font-size: 14px;
  text-indent: 8px;
  border-radius: 3px;
  outline: none;
  border: none;
  color: $text-color;
  border-bottom: 1px solid $secondary-line-separate-color;
  margin-bottom: 15px;
}
.AddItemInput::placeholder {
  opacity: 0.6;
}

.AddItemBtn{
  width: 100%;
  font-size: 14px;
  padding: 10px;
  outline: none;
  background: $accent-color;
  border: none;
  border-radius: 3px;
  color: $accent-text-color;
  cursor: pointer;
}
.AddItemDateWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.AddItemDateTitle {
  color: $text-color;
  opacity: 0.6;
  font-size: 14px;
  text-indent: 8px;
}
.AwardSelect {
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px;
  border-bottom: solid 1px $secondary-line-separate-color;
}


@media screen and (min-width: 1224px) {
  .AddItemForm{
    width: 500px;
  }
}