@import  '../../../../styles/variables.scss';

.TableRow {
  display: flex;
  position: relative;
  text-decoration: none;
  &:hover {
    background: lightgray;
  }
}

.TableRowInfo {
  flex-grow:1;
  font-size: 12px;
  line-height: 40px; 
  width: 100px;
  border-bottom: 1px dashed $secondary-line-separate-color;
}
.TableRowInfo:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.DeleteIconWrapper {
  position: absolute;
  top:0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{ 
    width: 40%;
    height: 40%;
  }
}