@import '../../../../styles/variables.scss';

.DepositListItem {
  position: relative;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  margin: 20px 0;
  background: #fff;
  opacity: 0.9;
}

.DepositDetails {
  border-top: 1px solid $secondary-line-separate-color;
  padding-top: 5px;
  font-size: 12px;
  display: flex;
}

.DespositRow {
  display: flex;
  padding: 15px;
}

.AdditionalInfoRow {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}



.CloseIcon {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 30px;
  width: 30px;
  pointer-events: visiblePainted;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img{
    width: 80%;
    height: 80%;
  }
}

.DepositInfoDetails {
  font-size: 16px;
  margin: 10px 0 0 25px;
}

.DepositInfoDetailsAmount {
  font-size: 25px;
  font-weight: bold;
  margin-left: 5vw;
  color: $accent-green-color;
}

.IconWrapper{
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
}

.AdditionalInfoWrapper{
  display: flex;
  font-size: 12px;
}
.AdditionalInfoIconWrapper {
  width: 15px;
  height: 15px;
  margin-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .DepositListItem {
    width: 48%;
    margin: 20px 1%;
  }
 
}

@media screen and (min-width: 1224px) {

  .DepositInfoDetailsAmount{
    margin-left: 10vw;
  }
}