@import '../../styles/variables.scss';
.MenuLink {
  text-decoration: none;
  font-size: 16px;
  padding: 15px 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  figure {
    width: 25px;
    height: 25px;
  }
  p {
    line-height: 30px;
    padding-left: 25px;
  }
}
.MenuLink:hover {
  border-bottom: 2px solid $accent-color;
  transition: all .2s ease-in;
}