@import '../../../styles/variables.scss';

.CardWrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  background: $background-white;
  opacity: .9;
}
.CloseIcon {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 30px;
  width: 30px;
  pointer-events: visiblePainted;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img{
    width: 80%;
    height: 80%;
  }
}
.CoinsIcon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  img{
    height: 100%;
    width: 100%;
  }
}
.AchievedAwardWrapper{
  display: flex;
  justify-content: flex-end;
}
.CardLink {
  text-decoration: none;
}

.CardName {
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid $secondary-line-separate-color;
}

.CardInfo {
  padding-top: 5px;
  font-size: 12px;
}

.CardInfoRow {
  color: $secondary-text-color;
  padding: 3px 0;
}

.CardInfoRow_green {
  color: $accent-green-color;
  font-weight: bold;
}

.CardInfoRow_bold {
  font-weight: bold;
}


.StatusWrapper {
  display: flex;
  align-items: center;
}

// @media screen and (min-width: 1224px) {
//   .AccountListItem {
//     width: 48%;
//     margin: 20px 1%;
//   }
//  }
 